<app-toolbar class="light-theme">
  <button *ngIf="isScreenSm" id="toggle" mat-icon-button class="kamal-menu-toggle" aria-label="kamal-menu" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  
</app-toolbar>
<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav" [mode]="isScreenSm? 'over':'side'" mat-elevation-z10 [opened]="!isScreenSm" >
    <!--Add Appointment button-->
    <button mat-stroked-button style="padding:10px 30px; border-radius:40px; margin: 10px;" (click)="openDialog()">Create</button>
  
  </mat-sidenav>
  <div class="app-sidenav-content">
    <!--body content-->
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
