<mat-toolbar
  class="flex justify-center align-items-start flex-col"
  color="primary"
>
  <div class="flex flex-row justify-between w-full">
    <div class="flex flex-row gap w-full">
      <ng-content select="button#toggle"></ng-content>
      <img src="../../../../assets/icons/wht.png" height="50px" />
    </div>
    <div class="flex flex-row gap">
      <ng-content select="button#s"></ng-content>
      <button mat-stroked-button (click)="login()">
        <mat-icon svgIcon="profile"></mat-icon>
        Sign in
      </button>
    </div>
    <div></div>
  </div>
  <div class="g_Na"></div>
</mat-toolbar>
