<div class="host-container">
  <div style="margin-bottom:20px;">
    <img src="../../../../assets/images/svg/github-actions.svg" width="250px">
  </div>
  <div class="child-container">
    <p>GitHub Actions is a platform built into GitHub that lets you automate software workflows directly from your code repositories. 
      A workflow is an automated process. We’ll use workflows to model the commit stage of our deployment pipeline. Each workflow 
      listens to specific events that trigger its execution. Workflows should be defined in a .github/workflows folder in a GitHub 
      repository root, and they should be described following the YAML format provided by GitHub Actions. In your Catalog Service project 
      (catalog- service), create a main.yml file under a new .github/workflows folder. This workflow will be triggered whenever new code 
      is pushed to the repository. </p>
  </div>
  
</div>