<div class="hUjLdV" id="watch">
  <div class="kPFgeE">
    <img
      src="../../../../assets/images/png/oauth2.png"
      [@openClose2L]="expression ? 'open' : 'close'"
      style="z-index: 98"
      class="sc-1ij3rhy-2 ixxOne"
    />
    <img
      src="../../../../assets/images/png/angular.png"
      [@openClose1L]="expression ? 'open' : 'close'"
      style="z-index: 99"
      class="sc-1ij3rhy-2 ixxOne"
    />
    <img
      src="../../../../assets/images/png/spring.png"
      [@openClose]="expression ? 'open' : 'close'"
      style="z-index: 100"
      class="sc-1ij3rhy-2 ixxOne"
    />
    <img
      src="../../../../assets/images/png/mysql.png"
      [@openClose1R]="expression ? 'open' : 'close'"
      style="z-index: 99"
      class="sc-1ij3rhy-2 ixxOne"
    />
    <img
      src="../../../../assets/images/png/docker.png"
      [@openClose2R]="expression ? 'open' : 'close'"
      style="z-index: 98"
      class="sc-1ij3rhy-2 ixxOne"
    />
  </div>
</div>
<div>
  <div class="desktop">
    <div class="describe">
      <ng-container *ngFor="let image of images">
        <div class="box" [id]="image.id" [style.color]="image.color.main">
          <div class="title" [style.color]="image.color.title">
            {{ image.title }}
          </div>
          <div class="description" [style.color]="image.color.description">
            {{ image.description }}
          </div>
        </div>
      </ng-container>
    </div>
    <div class="describe-image">
      <div class="image-frame">
        <ng-container *ngFor="let image of images">
          <div *ngIf="image.show" class="image-bg">
            <img [src]="image.src" />
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="mobile">
    <ng-container *ngFor="let image of images">
      <div class="image-frame">
        <div class="image-bg">
          <img [src]="image.src" />
        </div>
      </div>
      <div class="describe">
        <div class="box">
          <div class="title" [style.color]="image.color.title">
            {{ image.title }}
          </div>
          <div class="description" [style.color]="image.color.description">
            {{ image.description }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div></div>
<div class="container">
  <button mat-raised-button class="signup" [routerLink]="['signup']">
    <img src="../../../../assets/images/png/signup.png">
  </button>
</div>
<div class="container" style="justify-content: start;">
  <app-step-wise-instruction [instructions]="stepsToSignUp"></app-step-wise-instruction>
</div>

