<mat-progress-bar
  mode="indeterminate"
  *ngIf="isRefreshing"
  style="position: absolute; top: 0px; left: 0px; width: 100%"
></mat-progress-bar>
<div class="flex flex-col" [class.content-loading]="isRefreshing">
  <h2>Create a strong password</h2>
<p class="text-center" style="max-width: 318px;">Create a strong password with a mixture of letters, numbers and symbols</p>
<ng-container [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput [type]="visible?'text':'password'" formControlName="password" >
    <mat-error *ngIf="form.get('password')?.hasError('required')"><mat-icon>info</mat-icon> passowrd is required</mat-error>
    <mat-error *ngIf="form.get('password')?.hasError('minlength')"><mat-icon>info</mat-icon> min length should be 8</mat-error>
    <mat-error *ngIf="form.get('password')?.hasError('serverError')">
      <div class="sse">
        <span>{{form.get("password")?.getError("serverError") }}</span>
      </div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm</mat-label>
    <input matInput [type]="visible?'text':'password'" formControlName="confirm">
    <mat-hint>enter the password again</mat-hint>
    <mat-error *ngIf="form.get('confirm')?.hasError('confirm')"><mat-icon>info</mat-icon> password doesn't matches</mat-error>
    <mat-error *ngIf="form.get('confirm')?.hasError('required')"><mat-icon>info</mat-icon> confirm is required</mat-error>
    <mat-error *ngIf="form.get('confirm')?.hasError('minlength')"><mat-icon>info</mat-icon> min length should be 8</mat-error>
  </mat-form-field>
</ng-container>
<div class="flex flex-row justify-start w-full margin20">
  <mat-checkbox color="primary" [checked]="visible" (change)="visiblity($event.checked)">show password</mat-checkbox>
</div>
</div>