<ng-container [formGroup]="form">
  <div class="flex flex-row justify-between gap">
    <mat-form-field appearance="fill" >
      <mat-label>Month</mat-label>
      <mat-select formControlName="month">
        <mat-option *ngFor="let month of months" [value]="month">{{month.name| titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill" >
      <mat-label>Day</mat-label>
      <input matInput type="tel" formControlName="day">
    </mat-form-field>
   
    <mat-form-field appearance="fill"  >
      <mat-label>Year</mat-label>
      <input matInput type="tel" formControlName="year">
    </mat-form-field>
  </div>
</ng-container>